<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body style="background-color: lightgrey">
    <div>
        <h3>
            Teams App Example
        </h3>
        <p>
            Your id is @Model.GraphId
            <br />
            You are @Model.GraphDisplayName
            <br />
            Your upn is @Model.GraphUpn
        </p>
    </div>
</body>
</html>